<form action="/place/create" method="POST" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label" for="village_id">Bölge</label>
        <select class="form-select" name="village_id" id="village_id" required>
            <option value="">Seçiniz</option>
            <% villages.forEach(village => { %>
                <option value="<%= village.id %>"><%= village.name %></option>
            <% }) %>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Yer Adı</label>
        <input type="text" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Kısa Açıklama</label>
        <input type="text" name="explanation" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Detaylı Açıklama</label>
        <textarea name="detail" rows="3" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Adres</label>
        <input type="text" name="address" class="form-control" required>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Latitude</label>
            <input type="text" name="latitude" class="form-control">
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Longitude</label>
            <input type="text" name="longitude" class="form-control">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Kapak Fotoğrafı</label>
        <input type="file" name="logo_url" accept="image/*" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Galeri Fotoğrafları</label>
        <input type="file" name="gallery[]" accept="image/*" multiple class="form-control">
    </div>


    <button type="submit" class="btn btn-primary w-100 mt-3">Kaydet</button>
</form>
