<form id="create-form">
    <div class="mb-3">
        <label class="form-label">İşletme Türü</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-3">Kaydet</button>
</form>
