# Node modules
node_modules/

# Build output
dist/
build/
upload/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.iml

# Temporary files
*.tmp
*.swp

