<div class="container mt-3">
    <div class="d-flex align-items-center gap-2 mb-3">
        <div class="p-2 bg-primary text-white rounded-5 px-4 d-flex align-items-center justify-content-center">
            <h2 class="mb-0 fs-6 text-center"><%= title %></h2>
        </div>
        <button onclick="Slideover.show('/organization/category/form/create', 'Yeni İşletme Kategorisi')" class="btn btn-dark rounded-5 so-trigger">
            <i class="bi bi-plus-circle me-2"></i>Ekle
        </button>
        <button id="openFilter" class="btn btn-dark rounded-5">
            <i class="bi bi-filter me-2"></i>Filtre
        </button>
        <input type="text" id="searchInput" class="form-control rounded-5" placeholder="Ara..." style="max-width: 250px;">
    </div>

    <%- include('../../ui/slideover.ejs') %>
    <%- include('../../ui/table.ejs', { title: "Plaj & Koy" }) %>
</div>

<script>
async function refreshTable() {
    try {
        const res = await fetch('/organization/category/list');
        let data = await res.json();

        const columns = [
            { label: '', key: 'actions', type: 'html', width: '25px'},
            { label: "İşletme Türü", key: 'name'},
            { label: 'Katılma Tarihi', key: 'created_at', type: 'date'},
        ];

        const rows = data.map((item, idx) => ({
            actions: `
                <div class="d-flex">
                    <button class="btn btn-dark btn-sm rounded-circle delete-btn" data-id="${item.id}"><i class="bi bi-trash3"></i></button>
                </div>
            `,
            name: item.name,
            created_at: item.created_at,
        }));

        renderTable(columns, rows, "/organization/category");
    } catch (err) { console.error(err); }
}

document.addEventListener("DOMContentLoaded", () => {
    refreshTable();

    document.getElementById('slideover-content').addEventListener('submit', async (e) => {
        e.preventDefault();
        e.stopPropagation();
        const form = e.target;
        let url = '';
        let config = { method: 'POST' };

        if (form.id === 'create-form') {
            url = `/organization/category/create`;

            const payload = Object.fromEntries(new FormData(form));
            
            config = { 
                method: 'POST', 
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(payload)
            };
        }

        const res = await fetch(url, config);
        if (res.ok) {
            alert('Başarılı!');
            Slideover.hide();
            refreshTable();
        } else {
            alert('Hata oluştu!');
        }
    });
});
</script>
