<div class="container mt-5 text-center">
  <h2 class="mb-4 text-black-50 fw-bold">Kategoriler</h2>

  <div class="row g-4 justify-content-center">
    <!-- Cafe Lobby -->
    <div class="col-md-3">
      <a href="/cafe" class="text-decoration-none">
        <div class="p-5 bg-light rounded-4 shadow-lg lobby-card">
          <h3 class="fw-bold">Cafe</h3>
          <p>Kahve ve tatlı keyfi</p>
        </div>
      </a>
    </div>

    <!-- Restoran Lobby -->
    <div class="col-md-3">
      <a href="/restaurant" class="text-decoration-none">
        <div class="p-5 bg-light rounded-4 shadow-lg lobby-card">
          <h3 class="fw-bold">Restoran</h3>
          <p>Lezzetli yemekler ve menüler</p>
        </div>
      </a>
    </div>

    <!-- Otel Lobby -->
    <div class="col-md-3">
      <a href="/hotel" class="text-decoration-none">
        <div class="p-5 bg-light rounded-4 shadow-lg lobby-card">
          <h3 class="fw-bold">Otel</h3>
          <p>Konaklama ve tatil keyfi</p>
        </div>
      </a>
    </div>
  </div>
</div>
