<form id="edit-form" data-activity-id="<%= activityId %>">
    <div class="mb-3">
        <label class="form-label">Etkinlik Başlığı</label>
        <input type="text" name="name" class="form-control" value="<%= name %>" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">Güncelle</button>
</form>
