<form id="create-form">
    <div class="mb-3">
        <label class="form-label" for="category_id">İşletme Türü</label>
        <select class="form-select" name="organization_category_id" id="organization_category_id" required>
            <option value="">Seçiniz</option>
            <% categories.forEach(category => { %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">İşletme Kategori Çeşidi</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-3">Kaydet</button>
</form>
